#planner {
    border-color: #e0e0e0;
    border-width: 2px !important;
    border-style: solid;
}

#planner .mealtype {
    font-family: 'Indie Flower', cursive;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;

}

.row-striped:nth-of-type(even){
  background-color: #e0e0e0;

}

.row-striped {
    padding: 15px 0;
}