#planner .mealtype {
    font-family: 'Indie Flower', cursive;
}

#planner .list-group-item {
  background-color: none !important;
}


#planner .meal-middle {
    background-color: none !important;

}

#planner .meal-outside {
  background-color: none !important;
}