.carousel-inner{
     height: 400px;
}
.item img{
    height: 100% !important;
    width:  100% !important;
}
 .fa {  
    width: 50px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    border-radius: 50%; 
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
}
.fa-google {
    background: #dd4b39;
}

.fa-linkedin {
    background: #007bb5;
}

.fa-youtube {
    background: #bb0000;
}

.fa-instagram {
    background: #8a3ab9;
}

.fa-whatsapp {
    background: #4FCE5D;
}


/* ////////////////////detail page start: Uros///////////////////////// */

#recimg {
    height: 35rem;
    border: none;
}
#det {
    border:1px solid black;
}

/* ///////////////////details page ends: Uros///////////////////////////// */

#dash {
    display: flex;
    justify-content: space-evenly;
}

body {
    background-color: #007bb5;
}