{% extends 'base.html.twig' %}

{% block title %}New Meals{% endblock %}

{% block body %}

<div class="container py-4">
    <h1>Schedule a new meal</h1>
  {{ form_start(form) }}
    {{form_widget(form)}}
    {{ form_end(form) }}
</div>
{% endblock %}
