  <!--Footer-->
    <footer class="bg-dark text-white pt-5 pb-4">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h3 class="text-uppercase mb-4"> <img class="me-2" src="img/logo.svg" height="50px"
                            alt="logo">Meal Planner</h3>
                    <a href="#" class="fa fa-facebook"></a>

                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-whatsapp"></a>



                </div>
            </div>

        </div>

        </div>
    </footer>