{% extends 'base.html.twig' %}



{% block body %}
<div class="container">
    <h2 class="page-header">Add Dish</h2>

    {{ form_start(form) }}
    {{form_widget(form)}}
    {{ form_end(form) }}
</div>
{% endblock %}