{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
<h2 class="page-header">Edit Dish</h2>
    <div class="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}
