{% extends 'base.html.twig' %}


{% block body %}
<div class="container mt-4 mb-4">
<h2 class="page-header text-center">Edit Your Profile</h2>
    <div class="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}
